/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 11, 2024, 8:26:34 PM
    Author     : yennifer
*/
.centrar{
  text-align: CENTER;
}
.izquierda{
  text-align: LEFT;
}
.derecha{
  text-align: CENTER;
}
.justificar{
  text-align: JUSTIFY;
}
